* {
  box-sizing: border-box;
}

.profile-main-container {
  display: flex;
  /* position: fixed; */
  height: 100px;
  width: 100%;
  background-color: #024059;
  padding: 10px 10px;
  justify-content:  space-between;
}

@media (min-width: 1000px ) {

  .logout-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

}

.profile-main-container > div {
  display: flex;
}
.profile-title-img {
  width: 60px;
  height: 60px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg) brightness(103%) contrast(103%);
  transition: filter .2s;
}
.profile-title-imghover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(13deg) brightness(103%) contrast(103%);
}

.profile-title-h1 {
  font-family: 'Secular One', sans-serif;
  height: 80px;
  font-size: 35px;
  list-style: 80px;
  justify-content: center;
  line-height: 80px;
  color: #FFF;
  margin-right: 15px;
  margin: 0px !important;
  margin-right: 10px !important;
  text-decoration: none;
  cursor: pointer;
  transition: color .2s;
}
.profile-title-h1:hover {
  color: #94e1ff;
}


.title-container {
  display: flex;
  transition: background-color .2s;
  padding: 5px;
  align-items: center;
}
.logout-container {
  display: flex;
  align-items: center;
}

.logout-icon {
  color: #FFF;
  font-size: 50px;
  padding: 5px;

  transition: background-color .2s;
}
.logout-icon:hover {
  border-radius: 5px;
  background-color: #022431;
  cursor: pointer;
}
.home-icon {
  color: #FFF;
  font-size: 50px;
  padding: 5px;
  margin-right: 20px;
  transition: background-color .2s;
}
.home-icon:hover {
  border-radius: 5px;
  background-color: #022431;
}
