<div class="profile-card">
  <img
  src="{{ userInfo.photoUrl }}"
  alt="Profile Image"
  class="profile-card-img">

  <div class="profile-card-text">

    <div class="profile-card-name-container">
      <p class="profile-card-name">{{ userInfo.firstName }}</p>
      <p class="profile-card-name">{{ userInfo.lastName }}</p>
    </div>

    <div class="profile-card-mat-container">
      <p class="profile-card-mat">Matrícula:</p>
      <p class="profile-card-mat">{{ userInfo.studentId }}</p>
    </div>

    <div class="profile-card-info">
      <a
      href="/"
      >
      Detalles
    </a>
    </div>

  </div>



</div>
