* {
  font-family: 'Secular One', sans-serif;
}

root {
  --light-blue: #85D3D9;
  --navy-blue: #173e4d;
}


.card {
  background-color: #F78200;
  margin: 0 auto;
  width: 70%;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  overflow-y: scroll;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(241, 142, 31, 0.75);
  box-shadow: 3px 7px 16px 0px rgba(241, 142, 31, 0.10), -3px -7px 16px 0px rgba(241, 142, 31, 0.10);
}

.card-title {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: #FFF;
  font-family: 'Jost';
  font-size: 1.5em;
  font-weight: bold;
  height: max-content;
  padding: 10px;
}

.card-quiz-list {
  padding: 0px 10px;
}

.card-quiz-list-item {
  background-color: #FFAC50;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition:  background-color .2s;
}
.card-quiz-list-item:hover {
  background-color: #bb772a;
}

@media (min-width: 1000px ) {
  .card {
    margin: 0 !important;
    width: 100%;
    height: 35vh;
  }
}

