<div class="login-main-container">
  <header class="login-logo-container">
    <img class="login-logo login-logo-dual" src="../../assets/images/logos/dual-logo-white.png" alt="">
    <img class="login-logo login-logo-tese" src="../../assets/images/logos/tese-logo-white.png" alt="">
  </header>

  <section class="login-title-container">
    <div class="login-title-wrapper">
      <h1 class="login-title-h1">Dual<br>Quiz</h1>
      <img class="login-title-img" src="../../assets/images/logos/dualquiz-logo-white.png" alt="">
    </div>
  </section>


  <section class="login-button-container">

    <!-- <a
    *ngIf="!loginDisplay"
    class="login-button-button"
    (click)="login()"
  >Entrar con Microsoft</a> -->


    <a
      *ngIf="!loginDisplay"
      class="login-button-button"
      (click)="login()"
    >Entrar con Microsoft</a>
    <a
    *ngIf="loginDisplay"
      class="login-button-button"
      [routerLink]="['/home']"
      style="cursor: pointer;"
    >Entrar</a>

  </section>

  <footer class="login-footer-container">
    <p class="login-footer-text login-footer-text-p">by&nbsp;</p>
    <a
    class="login-footer-text login-footer-text-a"
    href="https://www.linkedin.com/in/edcan-dev/"
    target="_BLANK"
    >edcan-dev</a>
  </footer>
</div>


<!--  <div color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Profile</a>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
  <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button>
</div>
<div class="container">

  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>
-->
